header{
    background-color: #1E202B;
}
footer{
    background-color: #1E202B;
}
.logo img{
    width: 75px;
    height: 38px;
}
.logo {
    text-decoration: none;
    color: #009ad8;
}
h1{
    font-size: 18px;
    margin-bottom: 0%;
}
.site-description{
    font-size: 12px;
    color: lightgray ;
}
.navitems{
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 4px 18px  ;
    border-style: solid;
    border-color: #1E202B;
    border-radius: 15px;
    transition: 0.1s all;
}
.navbar{
    color: black;
}
.navitems:hover{
    border-style: solid;
    border-color: #009ad8;
    color: #009ad8;
    border-radius: 15px;
}

.search-input{
    position: relative;
}
.find{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    padding: 0 40px;
    border-radius: 25px;
    color: white;
    background-color: #009AD8;

}
.serch{
    border-radius: 35px;
    background-color: #1E202B;

}
.copyright{
    
    font-size: 12px;
    color: lightgray ;
}
.social-links a i{
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 25px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subsribe--input{
    position: relative;

}
.subscribe{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;    
    padding: 0 40px;
    border-radius: 25px;
    color: white;
    background-color: #009AD8;
}
.top-first-sec{
    background-color: #2D303D;
    color: lightgray;
}

.top-second-sec{
    background-color: #222530;
    color: lightgray;

}
.top-third-sec{
    background-color: #2D303D;
    color: lightgray;

}

.bottom-first-sec{
    background-color: #323544;
}

.bottom-second-sec{
    background-color: #262936;
}

.bottom-third-sec{
    background-color: #323544;
}
.location {
    color: lightgray;
}
.degree{
    font-size: 80px;
}
sup {
    top: -0.5em !important;
}
section{
    background-image: url(../images/banner.png);
    background-size: 100% 100%;
}
.min-degree{
    color: lightgray;
}